/*References*/
.reference
{
  text-align: center;
  
}
.reference_buttons
{
  text-align: center;
  margin: 5px;
  margin-top: 0px;
  height: auto;
  width: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;


}
/*Embedded page content styling*/
.pdf
{
  width: 80%;
  height: 1000px;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;

  
}
/*HTML page content styling*/
.checklist
{
    margin-left: 200px;
    margin-top: 0px;
    font-size: 16px;
    text-align: left;

    height: 25px;
    width: 25px;
    background-color: rgb(238, 238, 238);
}
.html_fig
{
    width: 1219px;
    margin: auto;
    margin-bottom: 50px;

    text-align: center;
}
.html_image
{
    width: 1219px;
    height: 600px;

    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.pirate
{
    width: 1219px;
    height: 400px;

    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.mindmap
{
    width: 1200px;
    height: 475px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
/*Progress bar (see reference)*/
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
/* Form Progress */

.progress {

  margin: 20px auto;
  text-align: center;
  padding-bottom: 80px;
}
.progress .circle,
.progress .bar {
  display: inline-block;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #d5d5da;
  vertical-align:top;
}
.progress .bar {
  position: relative;
  width: 80px;
  height: 6px;
  margin: 0 -5px 17px -5px;
  border-left: none;
  border-right: none;
  border-radius: 0;
  top:16px;
  vertical-align:top
}
.progress .circle .label {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  margin-top: 3px;
  color: #b5b5ba;
  font-size: 17px;
}
.progress .circle .title {
  color: #b5b5ba;
  font-size: 13px;
  line-height: 18px;
  margin-left: -30px;
  display: block;
  width: 100px;
  margin-top: 5px;
}
/* Done / Active */

.progress .bar.done,
.progress .circle.done {
  background: #eee;
}
.progress .bar.active {
  background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}
.progress .circle.done .label {
  color: #FFF;
  background: rgb(250, 118, 118);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
}
.progress .circle.done .title {
  color: #444;
}
.progress .circle.active .label {
  color: #FFF;
  background: rgb(157, 174, 204);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
}
.progress .circle.active .title {
  color: rgb(157, 174, 204);
}

/*certificates*/
.codecademy_certificate
{
    margin-bottom: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.grades
{
    margin-bottom: 0px;
    width: 1188px;
  
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.module_completion
{
    width:225px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
/* Home page content styling */
.profile_pic
{
    width: 175px;
    height: 209px;
    float: right;
    margin-left: 50px;
    margin-right: 10px;
}

/* Home page title styling */
.subtitle
{
    text-align: left;
    margin-left: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.Checklist_subtitle
{
    text-align: left;
    margin-left: 100px;
    margin-bottom: 10px;
    margin-top: 20px;
}

/*temporay making true*/
.container {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 15px;
  margin-left: 150px;
  cursor: pointer;
  position: relative;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.Home_checklist  {
  position: absolute;
  height: 25px;
  width: 25px;

  background-color: rgb(157, 174, 204);
  margin-left: -30px;
}

.container:hover input ~ .Home_checklist {
  background-color: #ccc;
}

.container input:checked ~ .Home_checklist  {
  background-color:rgb(250, 118, 118);
}

.Home_checklist::after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .Home_checklist::after {
  display: block;
}

.container .Home_checklist::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* continue*/
.date
{
    text-align: left;
    margin-left: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.page_title
{
    text-align: left;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}


/* general styling */
.general_text
{
    margin: 10px;
    margin-top: 0px;
    font-size: 16px;
    text-align: left;
}

.solid {
    margin-left: 300px;
    margin-right: 300px;
    color: rgb(255, 183, 183);

}

.header_buttons
{
    background: rgb(255, 183, 183);
    color: rgb(0, 0, 0);

    width: 250px; 
    height: 60px;
    font-size: 20px;
    margin: 5px 3px;
    border-radius: 4px;
    text-decoration: none;

    text-align: center;
    vertical-align:middle;

    display: flex;
    flex-direction: column;
    justify-content: center;  
}
#fyp_button
{
    background: rgb(255, 183, 183);
    color: rgb(0, 0, 0);

    width: 250px; 
    height: 60px;
    font-size: 20px;
    margin: 5px 3px;
    border-radius: 4px;
    border-color: #444;
    text-decoration: none;

    text-align: center;
    vertical-align:middle;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
 
    margin-left: auto;
    margin-right: auto;

}

.title
{
    font-family: Arial;
    font-size: 75px;
    color: rgb(250, 118, 118);
    text-align: center;
    margin-top: 50px;

}

.navigation_bar
{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 5px;
}

.LinkedIn
{
    height: 100px;
    width: 100px;
    border-radius: 5px;
    margin: 50px;
}

header
{
    font-family: Arial;
    font-size: 20px;

    background-image: url('background.jpg');
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

body
{
    margin: 0;

    background-image: url('cloud_background.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

footer
{
    min-height: 150px;
    background-image: url('background.jpg');
    background-size: auto;
}

/*Opening Page Styling*/
.Opening_Title
{
    font-family: Arial;
    font-size: 75px;
    color: rgb(250, 118, 118);
    text-decoration: none;
    margin: 0;
    margin-top: 0px;

    text-align: center;
    
}

.Go_To_Home
{
    height: 200px;         
    width: 100%;

    background-image: url('background.jpg');
    background-size: cover;
    background-position: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}